@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"');
:root {
  --main-color: rgb(9, 9, 2);
  --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
  --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
  --border: 0.2rem solid var(--main-color);
  --border-hover: 0.2rem dashed var(--main-color);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
  display: grid;
}

.heading {
  font-size: 9rem;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke: 0.08rem var(--main-color);
  letter-spacing: 0.1rem;
  text-align: center;
  pointer-events: none;
  position: relative;
}

.heading span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: var(--main-color);
  font-size: 3rem;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--main-color);
  background: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.btn:hover {
  border-radius: var(--border-radius-hover);
  border: var(--border-hover);
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(221, 19, 19, 0.1);
  padding: 2rem 9%;
  background-color: white;
}

.logo-with-teks img {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: auto;
  padding-left: 0;
}
.logo-with-teks h1 {
  display: inline-block; /* Mengubah teks menjadi elemen inline-block */
  vertical-align: middle; /* Menyelaraskan teks secara vertikal di tengah */
  padding-left: 10px;
  padding-top: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #0d0d0c;
}

.logo-with-teks h1 span {
  color: rgb(246, 173, 17);
}

.header .navbar a {
  margin: 0 2rem;
  font-size: 1.8rem;
  color: var(--main-color);
}

.header .btn {
  margin-top: 0;
}

#menu-btn {
  font-size: 3rem;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

/* HOME */

.home {
  background: url(latar.jpg);
  min-height: 100vh;
  padding-top: 2rem;
  background-position: center;
  background-size: cover;
  color: rgb(236, 154, 30);
}

.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .row .content {
  flex: 4 1 42rem;
}

.home .row .image {
  flex: 1 1 42rem;
  padding-top: 5rem;
  padding-left: 10rem;
  text-align: center;
  border-radius: 50%;
}

.home .row .image img {
  height: 30rem;
  animation: float 4.5s linear infinite;
  border-radius: 50%;
}

@keyframes float {
  0%,
  100% {
    transform: scale(0.9);
    border-radius: var(--border-radius-hover);
  }

  50% {
    transform: scale(0.8);
    border-radius: var(--border-radius);
  }
}

.home .row .content h3 {
  font-size: 7rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 50%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-stretch: expanded;
}

.home .image-slider {
  text-align: center;
  padding: 3rem 0;
}

.home .image-slider img {
  height: 9rem;
  margin: 0 0.5rem;
  cursor: pointer;
  margin-top: 5rem;
}

.home .image-slider img:hover {
  transform: translateY(-2rem);
}

/* ABOUT */
.about {
  background-color: #f5a639;
}
.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  flex: 1 1 42rem;
}

.about .row .image img {
  width: 100%;
  animation: aboutImage 4s linear infinite;
}

@keyframes aboutImage {
  0%,
  100% {
    transform: scale(0.9);
    border-radius: var(--border-radius-hover);
  }

  50% {
    transform: scale(0.8);
    border-radius: var(--border-radius);
  }
}

.about .row .content {
  flex: 1 1 42rem;
}

.about .row .content .title {
  color: var(--main-color);
  font-size: 3rem;
  line-height: 1.8;
}

.about .row .content p {
  color: var(--main-color);
  font-size: 2rem;
  line-height: 1.8;
  padding: 1rem 0;
}

.about .row .content .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 3rem;
}

.about .row .content .icons-container .icons {
  flex: 1 1 15rem;
  padding: 1.5rem;
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radius);
}

.about .row .content .icons-container .icons img {
  height: 5rem;
}

.about .row .content .icons-container .icons h3 {
  font-size: 2.5rem;
  padding-top: 1rem;
  color: var(--main-color);
}

.menu {
  background-color: rgb(0, 0, 0);
}

.menu {
  padding: 50px 20px;
  text-align: center;
}

.menu .menu-items .menu-item:hover {
  border: var(--border-hover);
  border-radius: var(--border-radius-hover);
}

.menu h2 {
  margin-bottom: 30px;
  color: white;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-item {
  flex-basis: 350px;
  margin: 20px;
}

.menu-item img {
  width: 100%;
  border-radius: 50px;
}

.menu-item h3 {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.menu-item p {
  margin-top: 5px;
  font-size: 13px;
  color: white;
}

.price {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.gallery {
  background-color: #f5a639;
  height: auto;
}

.gallery .heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 80px;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  flex-basis: 200px;
  margin: 20px;
}

.image img {
  padding-top: 20px;
  width: 100%;
  border-radius: 50px;
  transition: transform 0.3s ease;
  animation: aboutImage 4s linear infinite;
}

.image:hover img {
  transform: scale(1.1);
}

.footer {
  background-color: rgb(251, 251, 251);
  height: auto;
  width: 100%;
}
.footer .credit {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  margin-top: 1rem;
  color: var(--main-color);
}

.footer .credit span {
  border-bottom: var(--border-hover);
}

/* MEDIA QUERIES */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 3rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 6rem;
  }

  .heading span {
    font-size: 2.3rem;
  }

  #menu-btn {
    display: initial;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    font-size: 2.2rem;
    margin: 0;
    padding: 1.5rem 2rem;
  }

  .home {
    text-align: center;
  }

  .home .row .content h3 {
    font-size: 4rem;
  }

  .menu .box-container .box {
    margin-left: 0;
    margin-top: 6rem;
    flex-flow: column;
    text-align: center;
  }

  .menu .box-container .box img {
    margin-left: 0;
    margin-top: -6rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .row .image img {
    height: auto;
    width: 100%;
  }
}

/* ig */

.instagram-link {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding: 2rem 1rem;
  margin-top: 1rem;
  color: var(--main-color);
}

.instagram-link img {
  width: 5%;
  height: 10%;
  margin-left: 40%;
}

.instagram-link:hover {
  color: #e4405f; /* Instagram's pink color */
}
